<!DOCTYPE html>
<html lang="hu" xmlns:layout="https://github.com/ultraq/thymeleaf-layout-dialect/" layout:decorate="~{layouts/main}">

<head>

</head>

<body>

	<!--main content start-->
	<section layout:fragment="loginContent" id="main-content">
	
		<div id="main">
			<div id="squeeze">
				<div id="squeeze-content">
					<div id="inner-content" class="image-tid-213">
						<br><br>
						<h3 class="title">Osztályképek</h3>
					</div>
					<ul class="images">
						<li style="height:160px; width:200px;">
							<a href="img/avatar_group1.jpg">
								 <img src="img/avatar_group1_small.jpg" alt="kép1" class="image image-thumbnail" width="150" height="117"></a>
							<h5>kép1</h5>
						</li>
						
						<li style="height:200px; width:200px;">
							<a href="img/avatar_group2.jpg">
								 <img src="img/avatar_group2_small.jpg" alt="kép2" class="image image-thumbnail" width="150" height="162"></a>
							<h5>kép2</h5>
						</li>
						
						<li style="height:120px; width:200px;">
							<a href="img/avatar_group3.jpg">
								<img src="img/avatar_group3_small.jpg" alt="kép3" class="image image-thumbnail" width="150" height="90"></a>
							<h5>kép3</h5>
						</li>
						<li style="height:200px; width:200px;">
							<a href="img/avatar_group4.jpg">
								<img src="img/avatar_group4_small.jpg" alt="kép4" class="image image-thumbnail" width="150" height="162"></a>
							<h5>kép4</h5>
						</li>
					</ul>

				</div><!-- /squeeze-content -->
			</div><!-- /squeeze -->
		</div>
		
		<div class="text-right">
		  <div class="credits" style="text-align: right; margin-right: 20px;">
		    <!--
		      All the links in the footer should remain intact.
		      You can delete the links only if you purchased the pro version.
		      Licensing information: https://bootstrapmade.com/license/
		      Purchase the pro version form: https://bootstrapmade.com/buy/?theme=NiceAdmin
		    -->
		  	Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
		  </div>
		</div>
	
	<!--main content end-->
	</section>

</body>

</html>