<!DOCTYPE html>
<html lang="hu" xmlns:layout="https://github.com/ultraq/thymeleaf-layout-dialect/" layout:decorate="~{layouts/main}">

<head>

</head>

<body>

	<!--main content start-->
	<section layout:fragment="loginContent" id="main-content">
		<div class="row">
			<div class="col-lg-12">
				<h3 class="page-header"><i class="fa fa-table"></i> Table</h3>
				<ol class="breadcrumb">
					<li><i class="fa fa-home"></i><a href="index"> Home</a></li>
					<li><i class="fa fa-table"></i> Dokumentumok</li>
					<li><i class="fa fa-th-list"></i> Házirend</li>
				</ol>
			</div>
		</div>
	
		<div class="art-post-inner">
			<p> <strong> Házirend</strong> </p>
			<div class="art-postcontent">
				<div class="art-article">
					<p style="text-align: justify; margin: 1%;">
						<ol>
						   <li>
								Nulla facilisi. Morbi enim odio, pulvinar at odio egestas, suscipit dictum purus. In auctor metus ac odio lacinia
								dignissim. Phasellus tempor et mauris et euismod. Sed id aliquam dui. Aliquam ante augue, fermentum ac massa et, aliquam
								feugiat risus. Cras semper, felis ut rhoncus mattis, nisi quam porttitor nisi, quis interdum turpis dui in lectus. Duis
								risus ex, efficitur interdum bibendum quis, rutrum ac erat. Aliquam convallis, tellus quis pretium porta, purus dolor
								viverra tellus, in dictum dolor dolor vel felis. Fusce tristique a nulla vitae ornare. Ut euismod laoreet turpis, vitae
								gravida arcu varius at. Integer vel massa sed sapien convallis vulputate nec vel purus.
							</li>
						    <li>
								Morbi sollicitudin diam a purus fermentum cursus. Phasellus suscipit enim semper sapien cursus, non cursus diam
								consectetur. Fusce at mauris nec velit fermentum bibendum non a lorem. Vestibulum tempor metus et consequat tincidunt.
								Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Ut semper, justo
								consectetur sodales semper, sapien libero tincidunt ante, id gravida mi sem ut enim. Lorem ipsum dolor sit amet,
								consectetur adipiscing elit. Proin maximus scelerisque egestas. Vivamus scelerisque felis at volutpat fringilla.
								Praesent sodales suscipit orci quis pellentesque. Mauris sollicitudin mauris sit amet tellus commodo hendrerit.
							</li>
						    <li>
								Nunc ultricies eros aliquam nisl pharetra lobortis. Sed venenatis egestas nibh, id convallis sapien ornare a. Vestibulum
								ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Pellentesque habitant morbi tristique
								senectus et netus et malesuada fames ac turpis egestas. Morbi congue nunc ultrices, sollicitudin tellus nec, aliquam
								nulla. Donec vestibulum, metus at eleifend commodo, dolor felis lobortis magna, eget vulputate massa ligula ut velit.
								Morbi eget velit metus. Fusce a nisi ut quam dictum finibus. Maecenas vel consectetur erat, a ornare mi. Praesent in dui
								ultricies, luctus urna ut, convallis sapien. Fusce ut vulputate arcu.
							</li>
							<li>
								Fusce vitae velit eget odio faucibus dapibus eget ut augue. Pellentesque nec urna a arcu mollis tristique. Donec
								imperdiet, quam in vehicula molestie, nulla odio malesuada sapien, et aliquam eros eros ac erat. Suspendisse id
								vestibulum elit. Morbi eu dui sed nunc mollis dapibus id ut ligula. Sed id dignissim nunc. Cras aliquam, urna vel
								rhoncus dignissim, nisl leo fermentum mauris, ut accumsan urna dui ac ipsum.
							</li>	
						</ol>
					</p>	
				</div>
			</div>
			
			<div class="text-right">
				<div class="credits" style="text-align: right; margin-right: 20px;">
					<!--
			        All the links in the footer should remain intact.
			        You can delete the links only if you purchased the pro version.
			        Licensing information: https://bootstrapmade.com/license/
			        Purchase the pro version form: https://bootstrapmade.com/buy/?theme=NiceAdmin
			      -->
					Designed by <a href="#">BootstrapMade</a>
				</div>
			</div>
			
		</div>
		
	<!--main content end-->
	</section>
	
</body>
	
</html>