<!DOCTYPE html>
<html lang="hu" xmlns:layout="https://github.com/ultraq/thymeleaf-layout-dialect/" layout:decorate="~{layouts/main}">

<head>

</head>

<body>

	<!--main content start-->
	<section layout:fragment="loginContent" id="main-content">
		<div class="row">
			<div class="col-lg-12">
				<h3 class="page-header"><i class="fa fa-table"></i> Table</h3>
				<ol class="breadcrumb">
					<li><i class="fa fa-home"></i><a href="index"> Home</a></li>
					<li><i class="fa fa-table"></i> Iskolánkról</li>
					<li><i class="fa fa-th-list"></i> Képzések</li>
				</ol>
			</div>
		</div>
	
		<div class="art-post-inner">
			<div>
				<p class="MsoNormal" style="line-height: 150%; margin-left: 40px;">
					<span style="font-size: 16px;"><b><u>5 éves, nyelvi előkészítő évfolyamos általános gimnáziumi képzés</u></b></span><b><u>
							<o:p></o:p>
						</u></b></p>
		
				<p class="MsoNormal" style="text-align: justify; line-height: 120%; margin-left: 40px; margin-right: 20px;">
					<span style="font-size: 16px;">
						Donec a lacus facilisis, hendrerit enim a, tincidunt metus. Vestibulum ante ipsum primis in faucibus orci luctus et
						ultrices posuere cubilia curae; Donec quis urna quis magna tempus laoreet in a lorem. Curabitur sit amet ultrices diam.
						Praesent a dui lobortis nulla fringilla eleifend. Donec condimentum metus nec felis scelerisque feugiat. Aliquam eu
						massa nibh. Cras at libero congue orci efficitur consequat. Mauris ullamcorper urna ut scelerisque tincidunt. Integer
						eget consequat mauris. Nulla facilisi. Aliquam tempus tortor in dictum tristique. Curabitur in urna quis nunc euismod
						lacinia non non neque. Fusce condimentum malesuada nisi, blandit vehicula enim interdum sed. Donec hendrerit risus quis
						euismod laoreet.
					</span>
					<o:p></o:p>
				</p>
		
				<p class="MsoNormal" style="line-height:150%">
					<span style="font-size: 16px;">&nbsp;</span></p>
		
				<p class="MsoNormal" style="line-height: 150%; margin-left: 40px;">
					<span style="font-size: 16px;"><b><u>4 éves, általános gimnáziumi képzés</u></b></span>
					<o:p></o:p>
				</p>
		
				<p class="MsoNormal" style="text-align: justify; line-height: 120%; margin-left: 40px; margin-right: 20px;">
					<span style="font-size: 16px;">
						Cras aliquet nec mauris quis malesuada. Vivamus fringilla ut nisi sit amet tristique. Proin sit amet vestibulum metus.
						Donec nec eleifend neque. Nam dictum bibendum tempor. Donec vehicula, erat sed pellentesque efficitur, urna elit varius
						sem, at molestie lectus orci id quam. Quisque volutpat tellus nisl, ac vestibulum nibh gravida id. Mauris rhoncus
						ullamcorper lectus eget interdum.
					</span>
					<o:p></o:p>
				</p>
		
				<p class="MsoNormal" style="line-height:150%; page-break-after:avoid">
					<span style="font-size: 16px;">&nbsp;</span></p>
		
				<p class="MsoNormal" style="line-height: 150%; break-after: avoid; margin-left: 40px;"><span
						style="font-size: 16px;"><b><u>4 éves gimnáziumi sportiskola</u></b></span>
					<o:p></o:p>
				</p>
		
				<p class="MsoNormal" style="text-align: justify; line-height: 120%; margin-left: 40px; margin-right: 20px;">
					<span style="font-size: 16px;">
						Aliquam erat volutpat. Sed consectetur a tellus quis fringilla. Etiam viverra urna sit amet libero congue, id
						sollicitudin leo consequat. Fusce lacus tellus, eleifend at lacinia sed, imperdiet vitae felis. Aenean faucibus posuere
						nisl, et imperdiet orci consequat vitae. Cras finibus ante et lectus porta, id gravida ipsum consequat. Duis dignissim
						mi et dapibus lacinia. Aliquam nisi odio, pellentesque ut convallis in, imperdiet sit amet est. Vestibulum ante ipsum
						primis in faucibus orci luctus et ultrices posuere cubilia curae; Nullam non dictum quam, non tempus nulla. Curabitur
						sodales nibh ligula, sed sagittis enim volutpat id. Nunc vel cursus nulla, varius laoreet orci.
					</span>
					<o:p></o:p>
				</p>
		
			</div>
		
			<div class="text-right">
				<div class="credits" style="text-align: right; margin-right: 20px;">
					<!--
					        All the links in the footer should remain intact.
					        You can delete the links only if you purchased the pro version.
					        Licensing information: https://bootstrapmade.com/license/
					        Purchase the pro version form: https://bootstrapmade.com/buy/?theme=NiceAdmin
					      -->
					Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
				</div>
			</div>
		
			</di>
		
	<!--main content end-->
	</section>
	
</body>
	
</html>